div.header {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-variant: small-caps;
    line-height: 20px;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-transform: uppercase;
    border-radius: 12px 25px 12px 25px;
    padding: 15px;
}

div.gallery,
img {
    text-align: center;
    position: fixed;
    margin-top: 5%;
}

span.text1 {
    text-shadow: 3px 0 0 #9b0000;
}

span.text2 {
    text-shadow: 3px 0 0 #009b9b;
}
